In [2]:
pi = 3.14159

In [16]:
bottle= "23"

In [19]:
print (bottle)

23

In [1]:
x="I am messing around with python"

In [3]:
len(x)

31

In [4]:
s="playing"

In [5]:
t="messing"

In [6]:
x.replace(t,s)

'I am playing around with python'

In [11]:
Income=2000

In [12]:
Tax=Income*0.08

In [16]:
print (f"Tax on {Income} is {Tax}")

Tax on 2000 is 160.0

In [24]:
print ("Tax on {} is: {}".format (Income, Tax))

Tax on 2000 is: 160.0

In [1]:
z = 132

In [2]:
float (z)

132.0

In [7]:
print("ha" * 3)

hahaha

In [11]:
name=input("Enter your name")
hometown=input("Enter your hometown")

print(f"My name is {name} and I come from {hometown}.")

My name is Jack and I come from Arlington Heights.

In [12]:
age = input("enter your age")
print("I'm" + age + "!")

I'mAlice!

In [13]:
12/0

ZeroDivisionError: division by zero

In [14]:
7>3 and 6==(36/6)

True

In [18]:
x=5

In [25]:
# Example of proper indentation
def greet(name):
    if name:
        print(f"Hello, {name}!")
    else:
        print("Hello, World!")

In [57]:
score= float(input("What score did you recieve"))
if score <= 100 and score>90:
    print("You got an A")
elif score <=90 and score>80:
    print("You got a B")
elif score<=80 and score>0:
    print("You got a C")
else:
    print("score invalid")

ValueError: could not convert string to float: ''

In [ ]:
cardval = input("What card value is it?") 
if not any(char.isalpha() for char in cardval):  # If no letters are present
        # Try converting to an integer
        cardval = int(cardval)
        
suite = (input("What suite is it?")).lower

if isinstance(cardval, int): 
    if suite in ["hearts","diamonds"]:
        print("You have a red number card")
    elif suite in ["spades","clubs"]:
        print("You have a black number card")

elif isinstance(cardval, float): 
    if suite in ["spades","clubs"]:
        print("You have a black face card")
    elif suite in ["hearts","clubs"]:
        print("You have a red face card")
    
else:
        print("Invalid entry")

In [ ]:
email=input("Enter your email")
stud_domain="@u.northwestern.edu"

In [1]:
n = int(input("Enter number of elements:"))

#Initializing the sequence to start from 0, 1
n1, n2 = 0, 1

#Printing the first two numbers of the sequence
print(n1)
print(n2)

for i in range(n-2):  #Since two numbers of the sequence are already printed, n-2 numbers are required
    
    #Computing the next number of the sequence as the summation of the previous two numbers
    n3 = n1 + n2
    print(n3)
    
    #As 'n3' is already printed, it is no longer the next number of the sequence. 
    #Thus, we move the values of the variables n1 and n2 one place to the right to compute the next number of the sequence.
    n1 = n2
    n2 = n3  
    
print("These are the first", n, "elements of the fibonacci series")

0
1
1
2
3
5
8
13
These are the first 8 elements of the fibonacci series

In [3]:
for i in range (3, 10, 3):
    print(i)

3
6
9

In [11]:
for i in range (2,10):
    print (i, end=" ")

2 3 4 5 6 7 8 9

In [13]:
if 3 in range(0,4):
    print("hi")

hi

In [15]:
s="hello"

In [16]:
print(s[1:4])

ell

In [17]:
s="abababababa"

In [18]:
s.count("aba")

3

In [20]:
s="testing"

In [24]:
count = 0
for i in range (len(s)-2):
    if s[i:i+3] == "est":
        count += 1
print(count)

1

In [28]:
s[i:i+2]

'in'

In [35]:
import math  
print(sin(1))

NameError: name 'sin' is not defined